<footer>
  <div class="container">
  	<div class="footer_wrapper">
  		<%= image_tag("footer_logo.png", :alt => "footer_logo") %>
      <p>Built with <i class="fa fa-heart"></i> for adults to enjoy.</p>
    </div>
  </div>
</div>
</footer>
<div class="copyright">
  <div class="container">
    <div class="copyright_wrapper">
      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6">
          <p>Adolbit-All Rights Reserved</p>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6">
          <div class="footer_social">
            <ul>
              <li><a href="#">About</a></li>
              <li><a href="#">Support</a></li>
              <li><a href="#"><i class="fa fa-twitter"></i></a></li>
              <li><a href="#"><i class="fa fa-instagram"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>