<div class="header_content">
	<div class="container">
	  	<div class="header_content_wrapper">
	    	<h3>Life is short, <br>
	      	Spice it up a little bit</h3>
		    <div class="search_location">
		      	<div class="row">
			        <div class="col-lg-6">
			          	<div class="finding_block"> <span>I'm into</span>
			            	<div class="text_bx">
			              	<input type="text" class="form-control" placeholder="men, women, or transgender">
			              	<i class="fa fa-search"></i> </div>
			          	</div>
			        </div>
			        <div class="col-lg-6">
			          	<div class="finding_block who_lives"> <span>Who lives in</span>
				            <div class="text_bx">
				              <input type="text" class="form-control" placeholder="miami, florida">
				              <i class="fa fa-map-marker"></i>
				              <button class="button">Go!</button>
				            </div>
			          	</div>
			        </div>
		      	</div>
		    </div>
	  	</div>
	</div>
</div>
<div class="join_adoltbit gray_bg">
	<div class="container">
	  	<div class="join_adoltbit_wrapper">
		  	<h2 class="main-ttl text-center margin_bottom_50">Why join AdoltBit?</h2>
		    <div class="row">
		      	<div class="col-lg-4 col-sm-4">
			        <div class="join_adoltbit_box">
			          	<div class="icons"> <i class="fa fa-group"></i> </div>
			          	<div class="adoltbit_desc">
			            	<p>Everyone is verified to prevent fakes ads and protect minors.</p>
			          	</div>
			        </div>
		      	</div>
		      	<div class="col-lg-4 col-sm-4">
			      	<div class="join_adoltbit_box">
			          	<div class="icons"> <i class="fa fa-medkit"></i> </div>
			          	<div class="adoltbit_desc">
			            	<p>Everyone's status is visible to create a healthy community.</p>
			          	</div>
			        </div>
		      	</div>
		      	<div class="col-lg-4 col-sm-4">
			      	<div class="join_adoltbit_box">
			          	<div class="icons"> <i class="fa fa-lock"></i> </div>
			          	<div class="adoltbit_desc">
			            	<p>You data is protected and only used for safety purpose.</p>
			          	</div>
			        </div>
		      	</div>
		    </div>
	  	</div>
	</div>
</div>